.about {
  position: relative;
  padding: 185px $sidePaddingMobile 158px;
  background-image: url(../images/about-bg.png);
  background-position: center 13%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 20px rgba(177, 177, 177, 0.4);
}

.about__content {
  padding-top: 65px;
  text-align: center;
}

.about__title span {
  text-decoration: underline;
}

.about__text {
  margin-top: 65px;
  font-size: 18px;
  line-height: 30px;
}

.about__cards {
  padding-top: 65px;
  display: flex;
  gap: 30px;
}

.card {
  width: 25%;
  box-shadow: 0px 4px 20px rgba(192, 192, 192, 0.25);
  border-radius: 10px;
  text-align: center;
}

.card__text {
  padding: 30px 15px;

  span {
    font-size: 60px;
    font-weight: 700;
    line-height: 45px;
    color: $darkBlueColor;
  }

  p {
    font-size: 16px;
    line-height: 23px;
    color: #202020;
  }
}


.about__logo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 5px 0 0 rgba(177, 177, 177, 0.4);
}

.about__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

@media (max-width: 1024px) {
  .about__cards {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {

  .about {
    padding: 135px $sidePaddingMobile 100px;
    background-position: center 11%;
    background-size: 70%;
  }

  .about__content {
    padding-top: 45px;
  }

  .about__text {
    margin-top: 45px;
  }

  .about__cards {
    padding-top: 45px;
  }

  .about__cards {
    justify-content: space-between;
  }

  .card {
    width: 47%;
  }
}

@media (max-width: 768px) and (min-width: 481px) {

  .about {
    padding: 115px $sidePaddingMobile 88px;
    background-position: center 5%;
    background-size: 70%;
  }

  .about__content {
    padding-top: 35px;
  }

  .about__text {
    margin-top: 35px;
  }

  .about__cards {
    padding-top: 35px;
  }

  .card {
    width: 100%;
  }

  .about__logo-wrapper {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {

  .about {
    padding: 65px 0 58px;
    background-position: center 3.7%;
    background-size: 80%;
  }

  .about__content {
    padding-top: 30px;
  }


  .about__text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 23px;
  }

  .about__text:nth-of-type(2) {
      display: none;
  }

  .about__cards {
    padding: 30px 29px 0;
  }

  .card {
    width: 100%;
  }

  .card__text {
    padding: 40px 15px;

    span {
      font-size: 50px;
    }

    p {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .about__logo-wrapper {
    width: 71px;
    height: 71px;
    img {
      max-width: 23px;
    }
  }
}
