$sidePaddingDesktop: 50px;
$sidePaddingTablet: 40px;
$sidePaddingMobile: 16px;

$containerMaxWidth: 1170px;
$containerMaxWidthTablet: 820px;
$containerMaxWidthMobile: 380px;

$lightBlueColor: #5DADE2;
$darkBlueColor: #2874A6;

